.messageList {
    padding-top: 70px; /* 네비게이션 바의 높이만큼 패딩 추가 */
    overflow-x: hidden;
    height: 100vh;
}
&::-webkit-scrollbar {
    display: none;
}
.bottomMargin {
    padding-bottom: 75px; /* 네비게이션 바의 높이만큼 패딩 추가 */
}

.smallText {
    font-size: small;
}

.background {
    background-color: #F5F5F5;
}
