h1 {
    color: #000;
}

.bgroundDiv {
    position: absolute;
    width: 390px;
    height: 180px;
    left: 0px;
    top: 0px;
    background: var(--color-green);
    color: var(--color-white);
    justify-content: center;
    display: flex;
    font-weight: 600;
    font-size: 18px;
}

.profileImg {
    box-sizing: border-box;

    position: absolute;
    width: 122px;
    height: 122px;
    left: 132px;
    top: 94px;

    background: #C4C4C4;
    border: 5px solid #FFFFFF;
    border-radius: 122px;
}

.history{
    height: 29px;
    align-content: center;
    background: rgba(227, 213, 202, 0.4);
    font-weight: 500;
    margin-top: 20px;
    padding-left: 10px;
}

.mywork {
    height: 29px;
    align-content: center;
    background: rgba(227, 213, 202, 0.4);
    font-weight: 500;
    margin-top: 30px;
    padding-left: 10px;
}

.para {
    margin: 20px;
    margin-bottom: 20px;
}

.profileDiv {
    margin-top: 210px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.updateForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.formBtn {
    background-color: var(--color-beige);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    width: 60%;
}

.submitBtn {
    background-color: var(--color-green);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    width: 70px;
    font-weight: 400;
    font-size: var( --font-size-md);
}

