/* TopNavBar.module.css */
.topNavBarStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E3D5CA;
    border-bottom: 1px solid #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    z-index: 6;
}

.itemStyle {
    display: flex;
    align-items: center;
}
.iconTextStyle {
    margin-left: 10px;
}

.drawer{
    color: #ffffff;
}