/* BottomNavBar.module.css */
.navBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.inputField {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.sendIcon {
    cursor: pointer;
}
