.block {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    min-width: 100%;
    min-height: 15%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    align-items: center;
    word-break: break-all;
    gap: 1%;
}

.vector {
    position: relative;
    width : 90%;
    border: 1px solid #F5F5F5;
}

.category {
    width: 30%;
    height: 80%;
    padding: 2% 4%;
    background: var(--color-green);
    border-radius: 5px;
    color: var(--color-white);
    align-self: center;
    font-size: var(--font-size-sm);
}

.line {
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
    align-items: center;
}

.moveBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 8px;
    width: 75%;
    height: 10px;
    margin-left: 5%;
    background: #65B891;
    border-radius: 30px;
    margin-top:10%
}

.btnText {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}