.drawer {
    position: fixed;
    right: 0; /* 우측에서 시작 */
    top: 0;
    width: 80%; /* 화면의 70% 차지 */
    height: 100%;
    background-color: #f4f4f4;
    transition: transform 0.3s ease;
    z-index: 1005;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 */
    z-index: 1004; /* Drawer 보다 낮은 z-index 값을 설정 */
}