/* BottomNavBar.module.css */
.navBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #E3D5CA;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 1px solid #ffffff;
    display: flex;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.inputField {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: none
;
    outline: none;
    background-color: #E3D5CA;
}

.sendIcon {
    cursor: pointer;
}
