.articleList {
    display: grid;
    grid-template-columns: repeat(1,minmax(200px, 1fr));
}

.menuBtn {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.menuBtn::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 20px;
    gap: 8px;
    border: none;

    width: 80px;
    height: 55px;

    background: var(--color-beige);
    border-radius: 20px;
    white-space: nowrap;

    font-weight: 700;
    font-size: 18px;
    color: #6B9080;
    margin: 10px;
}

.menu:hover {
    background: var(--color-light-green);
    color: #FFFFFF;
}




.page {
    margin-top: 5px;
    margin-bottom: 80px;
    margin-left: 26%;
}

