.divBox {
    display: flex;
    flex-direction: column;
    background-color: var(--color-beige);
    padding: 12px;
    border-radius: 5px;
    gap: 10px;
}

.feedbackBox {
    background-color: var(--color-middle-grey);
    padding: 8px;
    border-radius: 5px;
    word-break: keep-all;
}

.contentBox {
    background-color: var(--color-middle-grey);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.category {
    font-size: var(--font-size-xs);
    color: var(--color-white);
    background-color: var(--color-dark-grey);
    border-radius: 12px;
    pointer-events: none;
    border: none;
    padding: 8px;
    margin-right: 10px;
}

.feedbackBtn {
    background-color: var(--color-green);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20%;
    width: 40%;
    min-width:fit-content;
    margin-top: 15px;
    
}

