.messageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    padding: 10px;
    min-width: 100px;
    /*background-color: #E3D5CA;*/
    background-color: #F5F5F5;

}

.profileImage {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    float: left;
}


.name {
    display: inline;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--font-size-sm);

    flex-shrink: 0;
}

.position {
    background-size: contain;
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-white);
    padding: 3px;
    border-radius: 10px;

    flex-shrink: 0;
    min-width: 30px;
}

